﻿<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="panel panel-primary">
            <div class="panel-heading">Currency Exchange</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="fromcurrency">Select currency:</label>
                    <select class="form-control" id="fromcurrency" ng-model="fromCurrency">
                        <option selected="selected">USD</option>
                        <option>JPY</option>
                        <option>BGN</option>
                        <option>CZK</option>
                        <option>DKK</option>
                        <option>GBP</option>
                        <option>HUF</option>
                        <option>PLN</option>
                        <option>RON</option>
                        <option>SEK</option>
                        <option>CHF</option>
                        <option>NOK</option>
                        <option>HRK</option>
                        <option>RUB</option>
                        <option>TRY</option>
                        <option>AUD</option>
                        <option>BRL</option>
                        <option>CAD</option>
                        <option>CNY</option>
                        <option>HKD</option>
                        <option>IDR</option>
                        <option>ILS</option>
                        <option>INR</option>
                        <option>KRW</option>
                        <option>MXN</option>
                        <option>MYR</option>
                        <option>NZD</option>
                        <option>PHP</option>
                        <option>SGD</option>
                        <option>THB</option>
                        <option>ZAR</option>
                    </select>
                    <input type="text" class="form-control" id="fromvalue" ng-model="fromValue">
                </div>

                <div class="form-group">
                    <label for="tocurrency">Changed currency:</label>
                    <select class="form-control" id="tocurrency" ng-model="toCurrency">
                        <option selected="selected">USD</option>
                        <option>JPY</option>
                        <option>BGN</option>
                        <option>CZK</option>
                        <option>DKK</option>
                        <option>GBP</option>
                        <option>HUF</option>
                        <option>PLN</option>
                        <option>RON</option>
                        <option>SEK</option>
                        <option>CHF</option>
                        <option>NOK</option>
                        <option>HRK</option>
                        <option>RUB</option>
                        <option>TRY</option>
                        <option>AUD</option>
                        <option>BRL</option>
                        <option>CAD</option>
                        <option>CNY</option>
                        <option>HKD</option>
                        <option>IDR</option>
                        <option>ILS</option>
                        <option>INR</option>
                        <option>KRW</option>
                        <option>MXN</option>
                        <option>MYR</option>
                        <option>NZD</option>
                        <option>PHP</option>
                        <option>SGD</option>
                        <option>THB</option>
                        <option>ZAR</option>
                    </select>
                    <input type="text" class="form-control" id="fromvalue" disabled="disabled" ng-model="toValue">
                </div>

                <button type="button" class="btn btn-primary" ng-click="changeCurrency()">Change Currency</button>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel-heading">Currency Rates</div>
            <div class="panel-body">
                <label for="chartcurrency">Select currency:</label>
                <select class="form-control" id="chartcurrency" ng-model="chartCurrency" ng-change="changeChart()">
                    <option selected="selected">USD</option>
                    <option>JPY</option>
                    <option>BGN</option>
                    <option>CZK</option>
                    <option>DKK</option>
                    <option>GBP</option>
                    <option>HUF</option>
                    <option>PLN</option>
                    <option>RON</option>
                    <option>SEK</option>
                    <option>CHF</option>
                    <option>NOK</option>
                    <option>HRK</option>
                    <option>RUB</option>
                    <option>TRY</option>
                    <option>AUD</option>
                    <option>BRL</option>
                    <option>CAD</option>
                    <option>CNY</option>
                    <option>HKD</option>
                    <option>IDR</option>
                    <option>ILS</option>
                    <option>INR</option>
                    <option>KRW</option>
                    <option>MXN</option>
                    <option>MYR</option>
                    <option>NZD</option>
                    <option>PHP</option>
                    <option>SGD</option>
                    <option>THB</option>
                    <option>ZAR</option>
                </select>

                <div id="chart_container">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
            </div>
    <div class="col-lg-2"></div>
</div>

